html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
        fixed= parallax
        scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../images/img1.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../images/i2.jpeg');
    min-height: 600px;
}

.pimg3 {
    background-image: url('../images/i3.jpeg');
    min-height: 65%;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.ptext {
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Baloo Thambi', cursive;
}

.ptext .borderr {
    background-color: #111;
    font-weight: 600;
    color: #fff;
    padding: 20px;
    font-size: 30px;
}

.ptext .borderr.trans {
    background-color: transparent;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show,
  .cd-top.cd-top--fade-out,
  .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  
  .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }



.navbar-scroll {
	background: rgb(255, 255, 255);
	padding: 5px !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
	transition-duration: 0.6s !important;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

nav {
    padding: 15px 0 !important;
    transition-duration: 0.6s !important;
}

.h5 {
    transition-duration: 0.6s !important;
}

.textStyle {
    font-size: 18px !important;
    color: #666 !important;
    transition-duration: 0.6s !important;
}

.textStyle:hover {
    opacity: 0.5 !important;
}

.navbar-toggler {
    background-color: #666 !important;
}

@media only screen and (max-width: 768px) {
    nav {
        background: rgb(255, 255, 255) !important;
        padding: 5px !important;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
        transition-duration: 0.6s !important;
    }

    .navbar-brand, .nav-link {
        font-size: 18px !important;
        color: #666 !important;
        transition-duration: 0.6s !important;
    }
}


  
.img2 {
    background-image: url('../images/img1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
}

.img3 {
    background-image: url('../images/img1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
}

.text-center {
    font-family: 'Baloo Thambi', cursive !important;
    font-size: 20px !important;
    color: #555 !important;
}

/*Footer*/


body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

strong { font-weight: 600; }


h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #555; line-height: 50px; font-style: italic; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; font-style: italic; }

img { max-width: 100%; }

.medium-paragraph { font-size: 17px; line-height: 32px; }

::-moz-selection { background: #6d9055; color: #fff; text-shadow: none; }
::selection { background: #6d9055; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 span { border-color: #fff; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 60px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }


/***** Top content *****/

.inner-bg { padding: 210px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { margin-top: 25px; color: #fff; }
.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }


/***** Section 1 *****/

.section-1-box { padding-top: 30px; text-align: left; }

.section-1-box .section-1-box-icon {
	width: 80px; height: 80px; margin: 0 auto;
	
	background: #6d9055; /* Old browsers */
	background: -moz-linear-gradient(top,  #79a05f 0%, #6d9055 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79a05f), color-stop(100%,#6d9055)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #79a05f 0%,#6d9055 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a05f', endColorstr='#6d9055',GradientType=0 ); /* IE6-9 */

    font-size: 40px; color: #fff; line-height: 80px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.section-1-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Section 2 *****/

.section-2-box { margin-top: 30px; text-align: left; }
.section-2-box h3 { margin-top: 0; }
.section-2-box-text .medium-paragraph { margin-top: 20px; margin-bottom: 20px; }


/***** Section 3 *****/

.section-3-box { margin-top: 30px; text-align: left; }

.section-3-box .section-3-box-icon {
	width: 60px; height: 60px; margin: 0 auto;
	
	background: #6d9055; /* Old browsers */
	background: -moz-linear-gradient(top,  #79a05f 0%, #6d9055 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79a05f), color-stop(100%,#6d9055)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #79a05f 0%,#6d9055 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a05f', endColorstr='#6d9055',GradientType=0 ); /* IE6-9 */
	
    font-size: 28px; color: #fff; line-height: 60px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.section-3-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { border: 0; }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #aaa; }


.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }
